# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': []
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'rodeo-atom'
      'submenu': [
        {
          'label': 'Enable'
          'command': 'rodeo-atom:enable'
        }
      ]
    ]
  }
]
